
$color-gray-800: #666464;
$color-gray-700: #898989;
$color-gray-600: #BFC0C0;
$color-gray-500: #C8C9C7;
$color-gray-400: #D9D9D6;
$color-gray-100: #F4F6F7;
$color-gray-50: #F6F7F9;


$color-green-600: #76C144;
$color-green-500: #93F155;
$color-green-400: #C0F29F;
$color-green-300: #D4F9BB;
$color-green-100: #E9FCDD;
$color-green-system: #FBFDF9;

$color-black: #000;
$color-white: #FFF;

$color-orange-500: #ED704E;
$color-orange-400: #F6B7A6;
$color-orange-300: #FFBE9F;
$color-orange-200: #FBE2DC;

$color-chart-blue-300: #B5EBEE;
$color-chart-blue-100: #F0FEFF;
$color-chart-purple-300: #BDB5EE;
$color-chart-yellow-500: #EDCA4E;
$color-chart-yellow-100: #FBF4DC;

$color-error: $color-orange-500;

$h1-text-fontsize: 28px;
$h2-text-fontsize: 20px;
$h3-text-fontsize: 18px;
$xs-text-fontsize: 12px;
$sm-text-fontsize: 14px;
$md-text-light-hight: 14px;
$font-family: "PingFang SC", "Arial", "微軟正黑體", "Calibri";

$button-height: 40px;
$button-height-sm: 32px;
$button-border-radius: 4px;
$input-height: 40px;
$input-border-radius: 4px;

/* typography */
h1,
.text-title-large {
  font-size: 28px;
  font-weight: 500;
}

h2,
.text-pop-title {
  font-size: 20px;
  font-weight: 500;
}

h3,
.text-table-title {
  font-size: 18px;
  font-weight: 500;
}

.text-title {
  font-size: 16px;
  font-weight: 500;
}

p,
.text-body {
  font-size: 16px;
  font-weight: 400;
}

.text-subtitle {
  font-size: 14px;
  font-weight: 500;
}

.text-describe {
  font-size: 14px;
  font-weight: 400;
}

.text-mark {
  font-size: 12px;
  font-weight: 400;
}

.text-color-primary-green{
 color: $color-green-600;
}

.text-color-primary-gray{
 color: $color-gray-800;
}
